@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

* {
  font-family: 'Montserrat', sans-serif;
}


html {
  font-size: 100%;
  scroll-behavior: smooth;
  background-color: #0a192f;
}

@media (max-width: 768px) {
  html {
    font-size: 95%;
  }
}

body {
  background-color: #0a192f;
  color: #ccd6f6;
}
